<link href="/yap/font/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="yap/login.css">
<% provide(:title, "Log in") %>


<div id="main-login">
  <div id="login">
    <img id="logo-login" src='/yap/yap.svg'/>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
